body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	font-family: Roboto, sans-serif;
	background: linear-gradient(40deg, #88b04b, yellow);
	background-repeat: no-repeat;
    background-position: right top;
	background-attachment: fixed;
}

h2 {
    font-size: 2rem;
}

.border1 {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.shadow {
	-moz-box-shadow:    10px 15px 30px 3px rgba(68,68,68,0.6);
	-webkit-box-shadow: 10px 15px 30px 3px rgba(68,68,68,0.6);
	box-shadow:         10px 15px 30px 3px rgba(68,68,68,0.6);
  }