.container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height:100%;
    width: 64rem;
    background-color: #3f6196;
}

.box {
    background: rgba(255, 255, 255, 0.25);
    position: relative;
    margin: 0 auto;
    padding: 0.5em;
    border: solid 1px black;
    width: 20em;
    top: 5em;
    text-align: center;
}