
.button {
  display: inline-block;
  position: relative;
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border: 2px solid;
  border-radius: 7px;
  outline: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

.button:before, .button:after {
  content: '';
  position: absolute;
}

.button:before {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -1;
  border-radius: 9px;
}

.button:after {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0;
  border-radius: 7px;
}

.button.blue {
  background: #3471b8;
  border-color: #255184 #244f80 #1e4068;
  background-image: -webkit-linear-gradient(top, #497fcc 0%, #3d72c8 50%, #3471b8 50%, #2365a0 100%);
  background-image: -moz-linear-gradient(top, #497fcc 0%, #3d72c8 50%, #3471b8 50%, #2365a0 100%);
  background-image: -o-linear-gradient(top, #497fcc 0%, #3d72c8 50%, #3471b8 50%, #2365a0 100%);
  background-image: linear-gradient(to bottom, #497fcc 0%, #3d72c8 50%, #3471b8 50%, #2365a0 100%);
}

.button.blue:before {
  background: #4c8ad3;
  background-image: -webkit-linear-gradient(top, #29609f, #5995da);
  background-image: -moz-linear-gradient(top, #29609f, #5995da);
  background-image: -o-linear-gradient(top, #29609f, #5995da);
  background-image: linear-gradient(to bottom, #29609f, #5995da);
}

.button.blue:active {
  background: #3d79c8;
  background-image: -webkit-linear-gradient(top, #216298 0%, #3774c4 60%, #3d79c8 100%);
  background-image: -moz-linear-gradient(top, #216298 0%, #3774c4 60%, #3d79c8 100%);
  background-image: -o-linear-gradient(top, #216298 0%, #3774c4 60%, #3d79c8 100%);
  background-image: linear-gradient(to bottom, #216298 0%, #3774c4 60%, #3d79c8 100%);
}

.button.blue:active:after {
  border-color: #3d79c8;
}
