.container {
	position: relative;
	margin: 0 auto;
	display: grid;
	height: 99.8vh;
	width: 32rem;
	grid-template-rows: 1fr auto 1fr 1rem;
	grid-template-columns: 1fr;
	grid-template-areas:
		"top"
		"main"
		"bottom"
		"footer";
}

main {
	position: relative;
	grid-area: main;
	background: linear-gradient(40deg, #1c2237, #4f6093);
	padding: 3em;
	color: #fff;
}

footer {
	grid-area: footer;
	display: inline-grid;
    align-content: center;
	justify-content: center;
	color: #fff;
}

.top {
	grid-area: top;
}

.bottom {
	grid-area: bottom;
}